@{
  bool isAuthenticated = Context.User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Issue Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar
                    navbar-expand-sm
                    navbar-toggleable-sm
                    navbar-light
                    bg-white
                    border-bottom
                    box-shadow">
            <div class="container">

                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse
                            collapse
                            d-sm-inline-flex
                            justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (!isAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="UserLogin">Login</a>
                            </li>
                        }

                        @if (isAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Issue" asp-action="Index">Issue</a>
                            </li>
 
                            <li class="nav-item">
                                <form method="post" asp-controller="Login" asp-action="Logout">
                                    <input class="btn btn-link nav-link text-dark" type="submit" value="Logout" />
                                </form>
                            </li>
                        }
                    </ul>
                </div>



            </div>
        </nav>

        <div>
            <partial name="_LoginPartial" />
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Issue Management App - Dev: Paulo Rocha
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
