@{
    string user;
    bool authenticated;
    if (Context.User.Identity.IsAuthenticated)
    {
        user = Context.User.Identity.Name;
        authenticated = true;
    }
    else
    {
        user = "Not Logged In";
        authenticated = false;
    }

    ViewBag.user = user;
    ViewBag.authenticated = authenticated;
}

@if (@ViewBag.authenticated)
{

    <p class="text-dark text-center">Welcome: @ViewBag.user</p>
}
else
{

    <a class="btn btn-link link-dark nav-link text-center"
       asp-controller="Login"
       asp-action="UserLogin">Welcome: Anonymous</a>

}