@{
    string user;
    bool authenticated;
    if (Context.User.Identity.IsAuthenticated)
    {
        user = Context.User.Identity.Name;
        authenticated = true;
    }
    else
    {
        user = "Not Logged In";
        authenticated = false;
    }

    ViewBag.user = user;
    ViewBag.authenticated = authenticated;
}

@if (@ViewBag.authenticated)
{

    <div class="mt-3 ms-0">
        <p class="nav-link text-dark">Welcome: @ViewBag.user</p>
    </div>

    <div class="mt-3 ms-0">
        <form method="post" asp-controller="Login" asp-action="Logout">
            <input class="btn btn-link link-dark" type="submit" value="Logout" />
        </form>
    </div>


}
else
{
    <div>
        <a class="btn btn-link link-dark"
           asp-controller="Login"
           asp-action="UserLogin">Welcome: Anonymous</a>
    </div>
}