@model WebIssueManagementApp.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Create new user";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["Message"]
    </div>
}
<div class="row mt-3">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group pt-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group pt-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group pt-3">
                <button type="submit" value="Create" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}