@model LoginViewModel

@{
  ViewData["Title"] = "Login";
  var returnUrl = Context.Request.Query["ReturnUrl"];
}



<div class="row"> 
  <h3>Sign in below</h3>
  <a class="link-dark mt-2" asp-controller="User" asp-action="Create">Are you new user?</a>
</div>



@if (TempData["Message"] != null)
{
  <div class="alert alert-danger mt-3" role="alert">
    @TempData["Message"]
  </div>
}

<div class="row mt-3">
    <div class="col-md-4">
    <form asp-route-returnurl="@returnUrl" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Login" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />      
}