@{
    ViewData["Title"] = "Home";
}
<div class="row marcador align-items-center">
    <div class="col mx-auto text-center">
        <h3>Issue Management System</h3>
        <img class="img-fluid" src="~/img/gerenciador-tarefas.jpg">
    </div>

    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item list-group-item-light">Manage Tasks</li>
        <li class="list-group-item list-group-item-light">Attach Files</li>
        <li class="list-group-item list-group-item-light">Document Your Tasks</li>
        <li class="list-group-item list-group-item-light">Be Organized</li>
    </ul>
</div>




